<div class="container">
    <h3>Registration for <%= link_to @event.name, @event %></h3>
    <%= form_with(model: [@event, @registration], local: true) do |f| %>
        <%= f.hidden_field :name, value: current_user.name %>
        <%= f.hidden_field :email, value: current_user.email %>
        <%= f.label :how_heard %><br>
        <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS,
                    prompt: "Pick one" %><br>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit %>

    <% end %>

</div>